In [1]:
import warnings
warnings.filterwarnings('ignore',category=FutureWarning)
warnings.filterwarnings('ignore',category=DeprecationWarning)
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time

In [2]:
df_temp = pd.read_csv("../meteorology/dados_temperatura.csv")
df_prec = pd.read_csv("../meteorology/dados_precipitacao.csv")
df_energy = pd.read_csv("data/shared_1year.csv")

FileNotFoundError: [Errno 2] No such file or directory: '../meteorology/dados_temperatura.csv'

In [3]:
temp_cols = df_temp.columns
prec_cols = df_prec.columns

NameError: name 'df_temp' is not defined

## IPMA Temperature

In [4]:
df_temp

NameError: name 'df_temp' is not defined

## IPMA Precipitation

In [5]:
df_prec

NameError: name 'df_prec' is not defined

## Created Energy Dataset

In [6]:
df_energy

NameError: name 'df_energy' is not defined

## Preprocessing

In [7]:
print("NaN values:\n",df_temp.isna().sum())
print("Negative values:",(df_temp.values[:,1:] < 0).sum())

NameError: name 'df_temp' is not defined

In [8]:
print("NaN values:\n",df_prec.isna().sum())
print("Negative values:",(df_prec.values[:,1:] < 0).sum())

NameError: name 'df_prec' is not defined

In [ ]:
print("NaN values:\n",df_energy.isna().sum())
print("Negative values:",(df_energy.values[:,1:] < 0).sum())

### Equalize intervals

In [9]:
def resample_dataset_15_minutes(df):
    df['Time'] = pd.to_datetime(df['Time'])
    start = time.time()
    df_ind = df.set_index('Time')
    df_split = np.array_split(df_ind, len(df_ind)/6)
    df_time = df_ind.resample('15T').apply(lambda x: x[0])
    df_split15 = np.array_split(df_time, len(df_time)/4)
    for hour in range(len(df_split)):
        for col in range(df_time.shape[1]):
            df_split15[hour].iloc[0,col] = df_split[hour].iloc[0,col]
            df_split15[hour].iloc[1,col] = (df_split[hour].iloc[1,col] + df_split[hour].iloc[2,col]) / 2
            df_split15[hour].iloc[2,col] = df_split[hour].iloc[3,col]
            df_split15[hour].iloc[3,col] = (df_split[hour].iloc[4,col] + df_split[hour].iloc[5,col]) / 2
    df_concat = pd.DataFrame(np.concatenate(df_split15))
    dataframe = pd.DataFrame()
    dataframe.index = pd.date_range(start='2020-10-01', end='2023-04-01', closed='left', freq='15T')
    dataframe['Time'] = dataframe.index
    dataframe = dataframe.reset_index(drop=True)
    df_resampled = pd.concat([dataframe, df_concat], axis=1)
    print('Elapsed time: %.4f seconds' % (time.time() - start))
    return df_resampled

In [ ]:
df_resampled = resample_dataset_15_minutes(df_temp)
df_resampled.columns = temp_cols
df_resampled

In [ ]:
df_resampled.to_pickle("data/df_temperature.pkl")

In [ ]:
df_resampled_prec = resample_dataset_15_minutes(df_prec)
df_resampled_prec.columns = prec_cols
df_resampled_prec

In [ ]:
df_resampled_prec.to_pickle("data/df_precipitation.pkl")

## Data with more metrics

In [10]:
station_viseu = pd.read_csv('../meteorology/dados_01200560.csv')
station_aveiro = pd.read_csv('../meteorology/dados_01210702.csv')
station_viseu_cols = station_viseu.columns
station_aveiro_cols = station_aveiro.columns

In [11]:
station_viseu

,Station,Time,Temp_Med,Temp_Max,Temp_Min,Rumo_Vento_Med,Rumo_Vento_Max,Intensidade_Vento_Med,Intensidade_Vento_Max,Precip,Rad_Total
0,1200560,2020-10-1 0:0:00,11.1,11.2,11.0,285.0,287.0,3.1,4.4,0.0,-990.0
1,1200560,2020-10-1 0:10:00,11.1,11.2,10.9,292.0,293.0,3.0,4.0,0.0,-990.0
2,1200560,2020-10-1 0:20:00,10.9,11.1,10.8,299.0,304.0,2.7,3.7,0.0,-990.0
3,1200560,2020-10-1 0:30:00,11.3,11.5,11.0,260.0,276.0,2.0,3.0,0.0,-990.0
4,1200560,2020-10-1 0:40:00,11.5,11.6,11.4,215.0,214.0,2.0,2.6,0.0,-990.0
...,...,...,...,...,...,...,...,...,...,...,...
131323,1200560,2023-3-31 23:10:00,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0
131324,1200560,2023-3-31 23:20:00,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0
131325,1200560,2023-3-31 23:30:00,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0
131326,1200560,2023-3-31 23:40:00,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0
131327,1200560,2023-3-31 23:50:00,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0

In [12]:
station_aveiro

,Station,Time,Temp_Med,Temp_Max,Temp_Min,Rumo_Vento_Med,Rumo_Vento_Max,Intensidade_Vento_Med,Intensidade_Vento_Max,Precip,Rad_Total
0,1210702,2020-10-1 0:0:00,16.8,16.9,16.6,167.0,179.0,1.4,2.4,0.0,0.0
1,1210702,2020-10-1 0:10:00,16.7,16.9,16.5,169.0,163.0,1.7,2.5,0.0,0.0
2,1210702,2020-10-1 0:20:00,16.6,16.8,16.5,175.0,168.0,1.4,2.4,0.0,0.0
3,1210702,2020-10-1 0:30:00,16.5,16.6,16.4,171.0,175.0,1.2,2.3,0.0,0.0
4,1210702,2020-10-1 0:40:00,16.4,16.6,16.3,172.0,182.0,1.1,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
131323,1210702,2023-3-31 23:10:00,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0
131324,1210702,2023-3-31 23:20:00,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0
131325,1210702,2023-3-31 23:30:00,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0
131326,1210702,2023-3-31 23:40:00,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0
131327,1210702,2023-3-31 23:50:00,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0

In [14]:
print("Station Viseu")
print("NaN values:",station_viseu.isna().sum().sum())
print("Negative values:\n",(station_viseu.iloc[:,2:] < 0).sum())
print("\nStation Aveiro")
print("NaN values:",station_aveiro.isna().sum().sum())
print("Negative values:\n",(station_aveiro.iloc[:,2:] < 0).sum())

Station Viseu
NaN values: 0
Negative values:
 Temp_Med                   2441
Temp_Max                   2340
Temp_Min                   2559
Rumo_Vento_Med             1848
Rumo_Vento_Max             1848
Intensidade_Vento_Med      1848
Intensidade_Vento_Max      1848
Precip                     1848
Rad_Total                131260
dtype: int64

Station Aveiro
NaN values: 0
Negative values:
 Temp_Med                 1707
Temp_Max                 1707
Temp_Min                 1709
Rumo_Vento_Med           1582
Rumo_Vento_Max           1580
Intensidade_Vento_Med    1580
Intensidade_Vento_Max    1580
Precip                   4890
Rad_Total                1706
dtype: int64

In [15]:
station_viseu_resample = resample_dataset_15_minutes(station_viseu)
station_viseu_resample.drop(0, inplace=True, axis=1)
station_viseu_resample.columns = station_viseu_cols[1:]
station_viseu_resample

Elapsed time: 33.1549 seconds

,Time,Temp_Med,Temp_Max,Temp_Min,Rumo_Vento_Med,Rumo_Vento_Max,Intensidade_Vento_Med,Intensidade_Vento_Max,Precip,Rad_Total
0,2020-10-01 00:00:00,11.10,11.20,11.00,285.0,287.0,3.10,4.40,0.0,-990.0
1,2020-10-01 00:15:00,11.00,11.15,10.85,295.5,298.5,2.85,3.85,0.0,-990.0
2,2020-10-01 00:30:00,11.30,11.50,11.00,260.0,276.0,2.00,3.00,0.0,-990.0
3,2020-10-01 00:45:00,11.45,11.60,11.20,196.0,211.0,1.70,2.55,0.0,-990.0
4,2020-10-01 01:00:00,10.80,11.10,10.60,162.0,191.0,1.30,1.70,0.0,-990.0
...,...,...,...,...,...,...,...,...,...,...
87547,2023-03-31 22:45:00,-990.00,-990.00,-990.00,-990.0,-990.0,-990.00,-990.00,-990.0,-990.0
87548,2023-03-31 23:00:00,-990.00,-990.00,-990.00,-990.0,-990.0,-990.00,-990.00,-990.0,-990.0
87549,2023-03-31 23:15:00,-990.00,-990.00,-990.00,-990.0,-990.0,-990.00,-990.00,-990.0,-990.0
87550,2023-03-31 23:30:00,-990.00,-990.00,-990.00,-990.0,-990.0,-990.00,-990.00,-990.0,-990.0
87551,2023-03-31 23:45:00,-990.00,-990.00,-990.00,-990.0,-990.0,-990.00,-990.00,-990.0,-990.0

In [16]:
station_aveiro_resample = resample_dataset_15_minutes(station_aveiro)
station_aveiro_resample.drop(0, inplace=True, axis=1)
station_aveiro_resample.columns = station_aveiro_cols[1:]
station_aveiro_resample

Elapsed time: 33.3596 seconds

,Time,Temp_Med,Temp_Max,Temp_Min,Rumo_Vento_Med,Rumo_Vento_Max,Intensidade_Vento_Med,Intensidade_Vento_Max,Precip,Rad_Total
0,2020-10-01 00:00:00,16.80,16.90,16.6,167.0,179.0,1.40,2.40,0.0,0.0
1,2020-10-01 00:15:00,16.65,16.85,16.5,172.0,165.5,1.55,2.45,0.0,0.0
2,2020-10-01 00:30:00,16.50,16.60,16.4,171.0,175.0,1.20,2.30,0.0,0.0
3,2020-10-01 00:45:00,16.40,16.60,16.3,167.0,171.5,1.20,2.30,0.0,0.0
4,2020-10-01 01:00:00,16.40,16.50,16.4,163.0,172.0,1.30,2.50,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
87547,2023-03-31 22:45:00,-990.00,-990.00,-990.0,-990.0,-990.0,-990.00,-990.00,-990.0,-990.0
87548,2023-03-31 23:00:00,-990.00,-990.00,-990.0,-990.0,-990.0,-990.00,-990.00,-990.0,-990.0
87549,2023-03-31 23:15:00,-990.00,-990.00,-990.0,-990.0,-990.0,-990.00,-990.00,-990.0,-990.0
87550,2023-03-31 23:30:00,-990.00,-990.00,-990.0,-990.0,-990.0,-990.00,-990.00,-990.0,-990.0
87551,2023-03-31 23:45:00,-990.00,-990.00,-990.0,-990.0,-990.0,-990.00,-990.00,-990.0,-990.0

In [17]:
st_viseu_intersect = station_viseu_resample.iloc[38017:73057].reset_index(drop=True)
print("Nan values:", st_viseu_intersect.isna().sum().sum())
print("Negative values:",(st_viseu_intersect.values[:,1:] < 0).sum())
st_viseu_intersect

Nan values: 0
Negative values: 38649

,Time,Temp_Med,Temp_Max,Temp_Min,Rumo_Vento_Med,Rumo_Vento_Max,Intensidade_Vento_Med,Intensidade_Vento_Max,Precip,Rad_Total
0,2021-11-01 00:15:00,13.10,13.15,13.00,270.0,281.5,4.35,6.60,0.05,-990.0
1,2021-11-01 00:30:00,13.00,13.10,12.90,272.0,281.0,5.10,7.50,0.00,-990.0
2,2021-11-01 00:45:00,12.95,13.05,12.80,270.5,267.5,5.60,8.25,0.10,-990.0
3,2021-11-01 01:00:00,12.80,12.90,12.70,265.0,270.0,4.90,8.00,0.10,-990.0
4,2021-11-01 01:15:00,12.55,12.80,12.45,260.0,259.0,4.05,6.55,0.05,-990.0
...,...,...,...,...,...,...,...,...,...,...
35035,2022-10-31 23:00:00,8.40,8.70,8.30,324.0,326.0,3.50,4.00,0.00,-990.0
35036,2022-10-31 23:15:00,8.10,8.40,7.90,339.0,335.0,2.25,2.95,0.05,-990.0
35037,2022-10-31 23:30:00,8.50,8.80,8.20,341.0,332.0,1.70,2.10,0.00,-990.0
35038,2022-10-31 23:45:00,8.60,8.80,8.45,356.0,354.0,2.40,2.75,0.00,-990.0
35039,2022-11-01 00:00:00,8.30,8.50,8.20,349.0,354.0,2.40,2.80,0.00,-990.0

In [18]:
station_viseu_resample.to_pickle("data/station_viseu_all.pkl")
st_viseu_intersect.to_pickle("data/station_viseu.pkl")

In [ ]:
st_av_intersect = station_aveiro_resample.iloc[38017:73057].reset_index(drop=True)
print("Nan values:", st_av_intersect.isna().sum().sum())
print("Negative values:",(st_av_intersect.values[:,1:] < 0).sum())
st_av_intersect

In [ ]:
station_aveiro_resample.to_pickle("data/station_aveiro_all.pkl")
st_av_intersect.to_pickle("data/station_aveiro.pkl")

## Merge with Shared Energy Dataset

In [19]:
station_aveiro_resample = pd.read_pickle("data/station_aveiro_all.pkl")
station_viseu_resample = pd.read_pickle("data/station_viseu_all.pkl")
station_aveiro_resample

,Time,Temp_Med,Temp_Max,Temp_Min,Rumo_Vento_Med,Rumo_Vento_Max,Intensidade_Vento_Med,Intensidade_Vento_Max,Precip,Rad_Total
0,2020-10-01 00:00:00,16.80,16.90,16.6,167.0,179.0,1.40,2.40,0.0,0.0
1,2020-10-01 00:15:00,16.65,16.85,16.5,172.0,165.5,1.55,2.45,0.0,0.0
2,2020-10-01 00:30:00,16.50,16.60,16.4,171.0,175.0,1.20,2.30,0.0,0.0
3,2020-10-01 00:45:00,16.40,16.60,16.3,167.0,171.5,1.20,2.30,0.0,0.0
4,2020-10-01 01:00:00,16.40,16.50,16.4,163.0,172.0,1.30,2.50,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
87547,2023-03-31 22:45:00,-990.00,-990.00,-990.0,-990.0,-990.0,-990.00,-990.00,-990.0,-990.0
87548,2023-03-31 23:00:00,-990.00,-990.00,-990.0,-990.0,-990.0,-990.00,-990.00,-990.0,-990.0
87549,2023-03-31 23:15:00,-990.00,-990.00,-990.0,-990.0,-990.0,-990.00,-990.00,-990.0,-990.0
87550,2023-03-31 23:30:00,-990.00,-990.00,-990.0,-990.0,-990.0,-990.00,-990.00,-990.0,-990.0
87551,2023-03-31 23:45:00,-990.00,-990.00,-990.0,-990.0,-990.0,-990.00,-990.00,-990.0,-990.0

In [20]:
df_energy = pd.read_csv("../datasets/shared_all_records.csv")
df_energy

,Time,PT41CV,PT44AL,PT42JN,PT15VP,PT69QG,PT07ZR,PT48JB,PT87RW,PT43QL,PT17RW,PT51SH,PT87ZW
0,2020-10-06 00:15:00,0.076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.320
1,2020-10-06 00:30:00,0.072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.308
2,2020-10-06 00:45:00,0.072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.292
3,2020-10-06 01:00:00,0.068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.280
4,2020-10-06 01:15:00,0.032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.340
...,...,...,...,...,...,...,...,...,...,...,...,...,...
86775,2023-02-19 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.092,NaN,NaN
86776,2023-02-19 23:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.088,NaN,NaN
86777,2023-02-19 23:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.080,NaN,NaN
86778,2023-02-19 23:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.064,NaN,NaN
86779,2023-02-20 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.088,NaN,NaN

In [21]:
dateindex = df_energy['Time']
df = df_energy.drop(['Time'], axis=1)
st_av = station_aveiro_resample.drop(['Time'], axis=1)
st_viseu = station_viseu_resample.drop(['Time'],axis=1)
print(df.shape)
house_list = []
test = dateindex
for i in df:
    test = pd.concat([dateindex, df[i]], axis=1)
    test = test.rename(columns={i: 'Energy'})
    test['Location'] = i
    if i == "PT41CV" or i == "PT69QG":
        test = pd.concat([test, st_viseu], axis=1)
    else:
        test = pd.concat([test, st_av], axis=1)
    house_list.append(test)
df_joined = house_list[0]
for i in house_list[1:]:
    df_joined = pd.concat([df_joined, i], axis=0)
df_joined.dropna(inplace=True)
df_joined.reset_index(drop=True, inplace=True)
df_joined

(86780, 12)

,Time,Energy,Location,Temp_Med,Temp_Max,Temp_Min,Rumo_Vento_Med,Rumo_Vento_Max,Intensidade_Vento_Med,Intensidade_Vento_Max,Precip,Rad_Total
0,2020-10-06 00:15:00,0.076,PT41CV,11.10,11.20,11.00,285.0,287.0,3.10,4.40,0.00,-990.0
1,2020-10-06 00:30:00,0.072,PT41CV,11.00,11.15,10.85,295.5,298.5,2.85,3.85,0.00,-990.0
2,2020-10-06 00:45:00,0.072,PT41CV,11.30,11.50,11.00,260.0,276.0,2.00,3.00,0.00,-990.0
3,2020-10-06 01:00:00,0.068,PT41CV,11.45,11.60,11.20,196.0,211.0,1.70,2.55,0.00,-990.0
4,2020-10-06 01:15:00,0.032,PT41CV,10.80,11.10,10.60,162.0,191.0,1.30,1.70,0.00,-990.0
...,...,...,...,...,...,...,...,...,...,...,...,...
576694,2022-11-25 00:00:00,0.764,PT87ZW,12.65,12.70,12.55,159.0,139.0,2.35,3.65,0.05,0.0
576695,2022-11-25 00:15:00,0.660,PT87ZW,12.60,12.70,12.60,160.0,158.0,1.90,3.60,0.00,0.0
576696,2022-11-25 00:30:00,0.692,PT87ZW,12.60,12.70,12.50,156.5,153.5,2.20,3.25,0.00,0.0
576697,2022-11-25 00:45:00,0.660,PT87ZW,12.60,12.70,12.40,147.0,172.0,2.00,3.30,0.00,0.0
576698,2022-11-25 01:00:00,0.644,PT87ZW,12.50,12.60,12.45,150.0,148.0,2.10,3.70,0.00,0.0

In [22]:
energy = df_joined['Energy']
df_joined.drop(['Energy'], axis=1, inplace=True)
df_joined = pd.concat([df_joined, energy], axis=1)
df_joined

,Time,Location,Temp_Med,Temp_Max,Temp_Min,Rumo_Vento_Med,Rumo_Vento_Max,Intensidade_Vento_Med,Intensidade_Vento_Max,Precip,Rad_Total,Energy
0,2020-10-06 00:15:00,PT41CV,11.10,11.20,11.00,285.0,287.0,3.10,4.40,0.00,-990.0,0.076
1,2020-10-06 00:30:00,PT41CV,11.00,11.15,10.85,295.5,298.5,2.85,3.85,0.00,-990.0,0.072
2,2020-10-06 00:45:00,PT41CV,11.30,11.50,11.00,260.0,276.0,2.00,3.00,0.00,-990.0,0.072
3,2020-10-06 01:00:00,PT41CV,11.45,11.60,11.20,196.0,211.0,1.70,2.55,0.00,-990.0,0.068
4,2020-10-06 01:15:00,PT41CV,10.80,11.10,10.60,162.0,191.0,1.30,1.70,0.00,-990.0,0.032
...,...,...,...,...,...,...,...,...,...,...,...,...
576694,2022-11-25 00:00:00,PT87ZW,12.65,12.70,12.55,159.0,139.0,2.35,3.65,0.05,0.0,0.764
576695,2022-11-25 00:15:00,PT87ZW,12.60,12.70,12.60,160.0,158.0,1.90,3.60,0.00,0.0,0.660
576696,2022-11-25 00:30:00,PT87ZW,12.60,12.70,12.50,156.5,153.5,2.20,3.25,0.00,0.0,0.692
576697,2022-11-25 00:45:00,PT87ZW,12.60,12.70,12.40,147.0,172.0,2.00,3.30,0.00,0.0,0.660
576698,2022-11-25 01:00:00,PT87ZW,12.50,12.60,12.45,150.0,148.0,2.10,3.70,0.00,0.0,0.644

In [23]:
# Transform negative values to nan
tmp = df_joined.iloc[:,2:]
tmp[tmp < 0] = np.nan
df_joined.iloc[:,2:] = tmp
df_joined

,Time,Location,Temp_Med,Temp_Max,Temp_Min,Rumo_Vento_Med,Rumo_Vento_Max,Intensidade_Vento_Med,Intensidade_Vento_Max,Precip,Rad_Total,Energy
0,2020-10-06 00:15:00,PT41CV,11.10,11.20,11.00,285.0,287.0,3.10,4.40,0.00,NaN,0.076
1,2020-10-06 00:30:00,PT41CV,11.00,11.15,10.85,295.5,298.5,2.85,3.85,0.00,NaN,0.072
2,2020-10-06 00:45:00,PT41CV,11.30,11.50,11.00,260.0,276.0,2.00,3.00,0.00,NaN,0.072
3,2020-10-06 01:00:00,PT41CV,11.45,11.60,11.20,196.0,211.0,1.70,2.55,0.00,NaN,0.068
4,2020-10-06 01:15:00,PT41CV,10.80,11.10,10.60,162.0,191.0,1.30,1.70,0.00,NaN,0.032
...,...,...,...,...,...,...,...,...,...,...,...,...
576694,2022-11-25 00:00:00,PT87ZW,12.65,12.70,12.55,159.0,139.0,2.35,3.65,0.05,0.0,0.764
576695,2022-11-25 00:15:00,PT87ZW,12.60,12.70,12.60,160.0,158.0,1.90,3.60,0.00,0.0,0.660
576696,2022-11-25 00:30:00,PT87ZW,12.60,12.70,12.50,156.5,153.5,2.20,3.25,0.00,0.0,0.692
576697,2022-11-25 00:45:00,PT87ZW,12.60,12.70,12.40,147.0,172.0,2.00,3.30,0.00,0.0,0.660
576698,2022-11-25 01:00:00,PT87ZW,12.50,12.60,12.45,150.0,148.0,2.10,3.70,0.00,0.0,0.644

In [24]:
print("NaN values:\n",df_joined.isna().sum())
print("Negative values:\n",(df_joined.iloc[:,2:] < 0).sum())

NaN values:
 Time                          0
Location                      0
Temp_Med                   2419
Temp_Max                   2360
Temp_Min                   2491
Rumo_Vento_Med             1419
Rumo_Vento_Max             1401
Intensidade_Vento_Med      1401
Intensidade_Vento_Max      1401
Precip                    13641
Rad_Total                113661
Energy                        0
dtype: int64
Negative values:
 Temp_Med                 0
Temp_Max                 0
Temp_Min                 0
Rumo_Vento_Med           0
Rumo_Vento_Max           0
Intensidade_Vento_Med    0
Intensidade_Vento_Max    0
Precip                   0
Rad_Total                0
Energy                   0
dtype: int64

In [25]:
# Number of records per location
df_joined.Location.value_counts()

PT17RW    81584
PT41CV    75448
PT87ZW    74876
PT43QL    69208
PT87RW    53263
PT48JB    39545
PT44AL    39260
PT15VP    37916
PT69QG    37052
PT51SH    35036
PT42JN    29955
PT07ZR     3556
Name: Location, dtype: int64

In [26]:
## Drop Radiation due to lack of samples in station viseu
df_joined = df_joined.drop(['Rad_Total'], axis=1)
## Interpolate nan values
df_joined = df_joined.interpolate(method='pad', axis=0)
df_joined

,Time,Location,Temp_Med,Temp_Max,Temp_Min,Rumo_Vento_Med,Rumo_Vento_Max,Intensidade_Vento_Med,Intensidade_Vento_Max,Precip,Energy
0,2020-10-06 00:15:00,PT41CV,11.10,11.20,11.00,285.0,287.0,3.10,4.40,0.00,0.076
1,2020-10-06 00:30:00,PT41CV,11.00,11.15,10.85,295.5,298.5,2.85,3.85,0.00,0.072
2,2020-10-06 00:45:00,PT41CV,11.30,11.50,11.00,260.0,276.0,2.00,3.00,0.00,0.072
3,2020-10-06 01:00:00,PT41CV,11.45,11.60,11.20,196.0,211.0,1.70,2.55,0.00,0.068
4,2020-10-06 01:15:00,PT41CV,10.80,11.10,10.60,162.0,191.0,1.30,1.70,0.00,0.032
...,...,...,...,...,...,...,...,...,...,...,...
576694,2022-11-25 00:00:00,PT87ZW,12.65,12.70,12.55,159.0,139.0,2.35,3.65,0.05,0.764
576695,2022-11-25 00:15:00,PT87ZW,12.60,12.70,12.60,160.0,158.0,1.90,3.60,0.00,0.660
576696,2022-11-25 00:30:00,PT87ZW,12.60,12.70,12.50,156.5,153.5,2.20,3.25,0.00,0.692
576697,2022-11-25 00:45:00,PT87ZW,12.60,12.70,12.40,147.0,172.0,2.00,3.30,0.00,0.660
576698,2022-11-25 01:00:00,PT87ZW,12.50,12.60,12.45,150.0,148.0,2.10,3.70,0.00,0.644

In [27]:
df_joined.to_csv("data/shared_meteo.csv", index=False)

In [28]:
min(df_joined['Time']), max(df_joined['Time'])

('2020-10-06 00:15:00', '2023-03-29 03:00:00')