In [2]:
import warnings
warnings.filterwarnings('ignore',category=FutureWarning)
warnings.filterwarnings('ignore',category=DeprecationWarning)
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, cross_val_score, cross_validate, KFold, RepeatedKFold, RandomizedSearchCV
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, mean_absolute_percentage_error
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures, MinMaxScaler
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.inspection import permutation_importance
import time
import xgboost as xgb

In [3]:
data = pd.read_excel("../Dataset.xlsx", sheet_name=['Total Consumers'])
df = data['Total Consumers']
number_of_houses = len(df.columns)
df

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,2.964,2.322959,1.544607,0.778310,1.962012,2.677445,0.237877,0.689194,0.358525,0.814643,...,0.898895,0.203825,0.221624,0.319531,0.830996,0.924987,0.219128,0.274880,0.990488,0.779475
1,2.584,2.371797,1.544607,0.778310,1.962012,2.733737,0.192929,0.558967,0.358525,0.660712,...,0.917793,0.165311,0.179747,0.319531,0.848467,0.944434,0.177722,0.222940,1.011313,0.795863
2,3.071,2.415961,1.319880,0.665072,1.676555,2.784640,0.382869,1.109272,0.377198,1.311186,...,0.934883,0.328060,0.356708,0.336174,0.864266,0.962019,0.352691,0.442426,1.030144,0.810682
3,2.694,2.302538,1.319880,0.665072,1.676555,2.653908,0.442052,1.280743,0.377198,1.513868,...,0.890992,0.378772,0.411848,0.336174,0.823691,0.916855,0.407209,0.510816,0.981781,0.772623
4,2.569,2.363063,0.913154,0.460128,1.159919,2.723669,0.192242,0.556976,0.668500,0.658358,...,0.914413,0.164722,0.179106,0.595793,0.845343,0.940956,0.177089,0.222146,1.007588,0.792932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35131,1.664,2.244719,1.455982,0.733653,1.849437,2.587266,0.205654,0.595835,0.171793,0.704291,...,0.868619,0.176214,0.191602,0.153109,0.803007,0.893832,0.189444,0.237645,0.957128,0.753222
35132,1.659,2.136340,1.201186,0.605264,1.525786,2.462348,0.201219,0.582985,0.067223,0.689101,...,0.826680,0.172414,0.187470,0.059912,0.764237,0.850676,0.185359,0.232519,0.910916,0.716855
35133,1.664,2.192805,1.201186,0.605264,1.525786,2.527430,0.228585,0.662271,0.067223,0.782819,...,0.848530,0.195862,0.212966,0.059912,0.784436,0.873160,0.210568,0.264142,0.934992,0.735802
35134,1.697,1.446083,0.259545,0.130782,0.329682,1.666757,0.189302,0.548459,0.070958,0.648292,...,0.559578,0.162203,0.176368,0.063241,0.517310,0.575820,0.174381,0.218749,0.616596,0.485237
35135,1.673,1.174827,0.259545,0.130782,0.329682,1.354107,0.208899,0.605235,0.070958,0.715402,...,0.454612,0.178994,0.194625,0.063241,0.420273,0.467808,0.192433,0.241394,0.500935,0.394216

In [4]:
dateindex = pd.date_range('1/1/2019', periods=35136, freq='15T', name='Time').to_frame(index=False)
dateindex

                     Time
0     2019-01-01 00:00:00
1     2019-01-01 00:15:00
2     2019-01-01 00:30:00
3     2019-01-01 00:45:00
4     2019-01-01 01:00:00
...                   ...
35131 2020-01-01 22:45:00
35132 2020-01-01 23:00:00
35133 2020-01-01 23:15:00
35134 2020-01-01 23:30:00
35135 2020-01-01 23:45:00

[35136 rows x 1 columns]

In [5]:
df_time = pd.merge(dateindex, df, left_index=True, right_index=True)
df_time

,Time,0,1,2,3,4,5,6,7,8,...,41,42,43,44,45,46,47,48,49,50
0,2019-01-01 00:00:00,2.964,2.322959,1.544607,0.778310,1.962012,2.677445,0.237877,0.689194,0.358525,...,0.898895,0.203825,0.221624,0.319531,0.830996,0.924987,0.219128,0.274880,0.990488,0.779475
1,2019-01-01 00:15:00,2.584,2.371797,1.544607,0.778310,1.962012,2.733737,0.192929,0.558967,0.358525,...,0.917793,0.165311,0.179747,0.319531,0.848467,0.944434,0.177722,0.222940,1.011313,0.795863
2,2019-01-01 00:30:00,3.071,2.415961,1.319880,0.665072,1.676555,2.784640,0.382869,1.109272,0.377198,...,0.934883,0.328060,0.356708,0.336174,0.864266,0.962019,0.352691,0.442426,1.030144,0.810682
3,2019-01-01 00:45:00,2.694,2.302538,1.319880,0.665072,1.676555,2.653908,0.442052,1.280743,0.377198,...,0.890992,0.378772,0.411848,0.336174,0.823691,0.916855,0.407209,0.510816,0.981781,0.772623
4,2019-01-01 01:00:00,2.569,2.363063,0.913154,0.460128,1.159919,2.723669,0.192242,0.556976,0.668500,...,0.914413,0.164722,0.179106,0.595793,0.845343,0.940956,0.177089,0.222146,1.007588,0.792932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35131,2020-01-01 22:45:00,1.664,2.244719,1.455982,0.733653,1.849437,2.587266,0.205654,0.595835,0.171793,...,0.868619,0.176214,0.191602,0.153109,0.803007,0.893832,0.189444,0.237645,0.957128,0.753222
35132,2020-01-01 23:00:00,1.659,2.136340,1.201186,0.605264,1.525786,2.462348,0.201219,0.582985,0.067223,...,0.826680,0.172414,0.187470,0.059912,0.764237,0.850676,0.185359,0.232519,0.910916,0.716855
35133,2020-01-01 23:15:00,1.664,2.192805,1.201186,0.605264,1.525786,2.527430,0.228585,0.662271,0.067223,...,0.848530,0.195862,0.212966,0.059912,0.784436,0.873160,0.210568,0.264142,0.934992,0.735802
35134,2020-01-01 23:30:00,1.697,1.446083,0.259545,0.130782,0.329682,1.666757,0.189302,0.548459,0.070958,...,0.559578,0.162203,0.176368,0.063241,0.517310,0.575820,0.174381,0.218749,0.616596,0.485237
35135,2020-01-01 23:45:00,1.673,1.174827,0.259545,0.130782,0.329682,1.354107,0.208899,0.605235,0.070958,...,0.454612,0.178994,0.194625,0.063241,0.420273,0.467808,0.192433,0.241394,0.500935,0.394216

In [6]:
house_list = []
test = dateindex
for i in df:
    test = pd.concat([dateindex, df[i]], axis=1)
    test = test.rename(columns={i: 'Energy'})
    test['Location'] = i
    house_list.append(test)

In [7]:
house_list

[                     Time  Energy  Location
 0     2019-01-01 00:00:00   2.964         0
 1     2019-01-01 00:15:00   2.584         0
 2     2019-01-01 00:30:00   3.071         0
 3     2019-01-01 00:45:00   2.694         0
 4     2019-01-01 01:00:00   2.569         0
 ...                   ...     ...       ...
 35131 2020-01-01 22:45:00   1.664         0
 35132 2020-01-01 23:00:00   1.659         0
 35133 2020-01-01 23:15:00   1.664         0
 35134 2020-01-01 23:30:00   1.697         0
 35135 2020-01-01 23:45:00   1.673         0

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  2.322959         1
 1     2019-01-01 00:15:00  2.371797         1
 2     2019-01-01 00:30:00  2.415961         1
 3     2019-01-01 00:45:00  2.302538         1
 4     2019-01-01 01:00:00  2.363063         1
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  2.244719         1
 35132 2020-01-01 23:00:00  2.136340         1
 35133 2020-01-01 23:15:00  2.192805         1
 35134 2020-01-01 23:30:00  1.446083         1
 35135 2020-01-01 23:45:00  1.174827         1

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  1.544607         2
 1     2019-01-01 00:15:00  1.544607         2
 2     2019-01-01 00:30:00  1.319880         2
 3     2019-01-01 00:45:00  1.319880         2
 4     2019-01-01 01:00:00  0.913154         2
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  1.455982         2
 35132 2020-01-01 23:00:00  1.201186         2
 35133 2020-01-01 23:15:00  1.201186         2
 35134 2020-01-01 23:30:00  0.259545         2
 35135 2020-01-01 23:45:00  0.259545         2

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  0.778310         3
 1     2019-01-01 00:15:00  0.778310         3
 2     2019-01-01 00:30:00  0.665072         3
 3     2019-01-01 00:45:00  0.665072         3
 4     2019-01-01 01:00:00  0.460128         3
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  0.733653         3
 35132 2020-01-01 23:00:00  0.605264         3
 35133 2020-01-01 23:15:00  0.605264         3
 35134 2020-01-01 23:30:00  0.130782         3
 35135 2020-01-01 23:45:00  0.130782         3

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  1.962012         4
 1     2019-01-01 00:15:00  1.962012         4
 2     2019-01-01 00:30:00  1.676555         4
 3     2019-01-01 00:45:00  1.676555         4
 4     2019-01-01 01:00:00  1.159919         4
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  1.849437         4
 35132 2020-01-01 23:00:00  1.525786         4
 35133 2020-01-01 23:15:00  1.525786         4
 35134 2020-01-01 23:30:00  0.329682         4
 35135 2020-01-01 23:45:00  0.329682         4

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  2.677445         5
 1     2019-01-01 00:15:00  2.733737         5
 2     2019-01-01 00:30:00  2.784640         5
 3     2019-01-01 00:45:00  2.653908         5
 4     2019-01-01 01:00:00  2.723669         5
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  2.587266         5
 35132 2020-01-01 23:00:00  2.462348         5
 35133 2020-01-01 23:15:00  2.527430         5
 35134 2020-01-01 23:30:00  1.666757         5
 35135 2020-01-01 23:45:00  1.354107         5

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  0.237877         6
 1     2019-01-01 00:15:00  0.192929         6
 2     2019-01-01 00:30:00  0.382869         6
 3     2019-01-01 00:45:00  0.442052         6
 4     2019-01-01 01:00:00  0.192242         6
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  0.205654         6
 35132 2020-01-01 23:00:00  0.201219         6
 35133 2020-01-01 23:15:00  0.228585         6
 35134 2020-01-01 23:30:00  0.189302         6
 35135 2020-01-01 23:45:00  0.208899         6

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  0.689194         7
 1     2019-01-01 00:15:00  0.558967         7
 2     2019-01-01 00:30:00  1.109272         7
 3     2019-01-01 00:45:00  1.280743         7
 4     2019-01-01 01:00:00  0.556976         7
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  0.595835         7
 35132 2020-01-01 23:00:00  0.582985         7
 35133 2020-01-01 23:15:00  0.662271         7
 35134 2020-01-01 23:30:00  0.548459         7
 35135 2020-01-01 23:45:00  0.605235         7

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  0.358525         8
 1     2019-01-01 00:15:00  0.358525         8
 2     2019-01-01 00:30:00  0.377198         8
 3     2019-01-01 00:45:00  0.377198         8
 4     2019-01-01 01:00:00  0.668500         8
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  0.171793         8
 35132 2020-01-01 23:00:00  0.067223         8
 35133 2020-01-01 23:15:00  0.067223         8
 35134 2020-01-01 23:30:00  0.070958         8
 35135 2020-01-01 23:45:00  0.070958         8

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  0.814643         9
 1     2019-01-01 00:15:00  0.660712         9
 2     2019-01-01 00:30:00  1.311186         9
 3     2019-01-01 00:45:00  1.513868         9
 4     2019-01-01 01:00:00  0.658358         9
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  0.704291         9
 35132 2020-01-01 23:00:00  0.689101         9
 35133 2020-01-01 23:15:00  0.782819         9
 35134 2020-01-01 23:30:00  0.648292         9
 35135 2020-01-01 23:45:00  0.715402         9

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  0.232600        10
 1     2019-01-01 00:15:00  0.188649        10
 2     2019-01-01 00:30:00  0.374375        10
 3     2019-01-01 00:45:00  0.432246        10
 4     2019-01-01 01:00:00  0.187977        10
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  0.201092        10
 35132 2020-01-01 23:00:00  0.196755        10
 35133 2020-01-01 23:15:00  0.223514        10
 35134 2020-01-01 23:30:00  0.185103        10
 35135 2020-01-01 23:45:00  0.204265        10

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  0.807722        11
 1     2019-01-01 00:15:00  0.655099        11
 2     2019-01-01 00:30:00  1.300046        11
 3     2019-01-01 00:45:00  1.501006        11
 4     2019-01-01 01:00:00  0.652765        11
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  0.698307        11
 35132 2020-01-01 23:00:00  0.683247        11
 35133 2020-01-01 23:15:00  0.776169        11
 35134 2020-01-01 23:30:00  0.642784        11
 35135 2020-01-01 23:45:00  0.709324        11

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  2.686248        12
 1     2019-01-01 00:15:00  2.686248        12
 2     2019-01-01 00:30:00  2.295421        12
 3     2019-01-01 00:45:00  2.295421        12
 4     2019-01-01 01:00:00  1.588079        12
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  2.532119        12
 35132 2020-01-01 23:00:00  2.088998        12
 35133 2020-01-01 23:15:00  2.088998        12
 35134 2020-01-01 23:30:00  0.451378        12
 35135 2020-01-01 23:45:00  0.451378        12

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  1.036778        13
 1     2019-01-01 00:15:00  1.036778        13
 2     2019-01-01 00:30:00  1.090776        13
 3     2019-01-01 00:45:00  1.090776        13
 4     2019-01-01 01:00:00  1.933158        13
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  0.496789        13
 35132 2020-01-01 23:00:00  0.194396        13
 35133 2020-01-01 23:15:00  0.194396        13
 35134 2020-01-01 23:30:00  0.205196        13
 35135 2020-01-01 23:45:00  0.205196        13

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  1.390459        14
 1     2019-01-01 00:15:00  1.390459        14
 2     2019-01-01 00:30:00  1.188159        14
 3     2019-01-01 00:45:00  1.188159        14
 4     2019-01-01 01:00:00  0.822024        14
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  1.310679        14
 35132 2020-01-01 23:00:00  1.081310        14
 35133 2020-01-01 23:15:00  1.081310        14
 35134 2020-01-01 23:30:00  0.233643        14
 35135 2020-01-01 23:45:00  0.233643        14

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  2.093229        15
 1     2019-01-01 00:15:00  2.137238        15
 2     2019-01-01 00:30:00  2.177034        15
 3     2019-01-01 00:45:00  2.074828        15
 4     2019-01-01 01:00:00  2.129367        15
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  2.022727        15
 35132 2020-01-01 23:00:00  1.925066        15
 35133 2020-01-01 23:15:00  1.975947        15
 35134 2020-01-01 23:30:00  1.303072        15
 35135 2020-01-01 23:45:00  1.058642        15

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  0.255332        16
 1     2019-01-01 00:15:00  0.207086        16
 2     2019-01-01 00:30:00  0.410963        16
 3     2019-01-01 00:45:00  0.474490        16
 4     2019-01-01 01:00:00  0.206348        16
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  0.220745        16
 35132 2020-01-01 23:00:00  0.215984        16
 35133 2020-01-01 23:15:00  0.245358        16
 35134 2020-01-01 23:30:00  0.203193        16
 35135 2020-01-01 23:45:00  0.224227        16

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  0.757369        17
 1     2019-01-01 00:15:00  0.757369        17
 2     2019-01-01 00:30:00  0.796816        17
 3     2019-01-01 00:45:00  0.796816        17
 4     2019-01-01 01:00:00  1.412178        17
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  0.362906        17
 35132 2020-01-01 23:00:00  0.142007        17
 35133 2020-01-01 23:15:00  0.142007        17
 35134 2020-01-01 23:30:00  0.149896        17
 35135 2020-01-01 23:45:00  0.149896        17

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  1.787319        18
 1     2019-01-01 00:15:00  1.824896        18
 2     2019-01-01 00:30:00  1.858876        18
 3     2019-01-01 00:45:00  1.771606        18
 4     2019-01-01 01:00:00  1.818175        18
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  1.727120        18
 35132 2020-01-01 23:00:00  1.643731        18
 35133 2020-01-01 23:15:00  1.687177        18
 35134 2020-01-01 23:30:00  1.112637        18
 35135 2020-01-01 23:45:00  0.903929        18

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  0.789404        19
 1     2019-01-01 00:15:00  0.789404        19
 2     2019-01-01 00:30:00  0.830518        19
 3     2019-01-01 00:45:00  0.830518        19
 4     2019-01-01 01:00:00  1.471909        19
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  0.378256        19
 35132 2020-01-01 23:00:00  0.148013        19
 35133 2020-01-01 23:15:00  0.148013        19
 35134 2020-01-01 23:30:00  0.156236        19
 35135 2020-01-01 23:45:00  0.156236        19

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  0.234749        20
 1     2019-01-01 00:15:00  0.190392        20
 2     2019-01-01 00:30:00  0.377834        20
 3     2019-01-01 00:45:00  0.436239        20
 4     2019-01-01 01:00:00  0.189714        20
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  0.202950        20
 35132 2020-01-01 23:00:00  0.198573        20
 35133 2020-01-01 23:15:00  0.225579        20
 35134 2020-01-01 23:30:00  0.186813        20
 35135 2020-01-01 23:45:00  0.206151        20

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  1.279637        21
 1     2019-01-01 00:15:00  1.279637        21
 2     2019-01-01 00:30:00  1.346284        21
 3     2019-01-01 00:45:00  1.346284        21
 4     2019-01-01 01:00:00  2.385989        21
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  0.613159        21
 35132 2020-01-01 23:00:00  0.239932        21
 35133 2020-01-01 23:15:00  0.239932        21
 35134 2020-01-01 23:30:00  0.253261        21
 35135 2020-01-01 23:45:00  0.253261        21

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  0.217889        22
 1     2019-01-01 00:15:00  0.176718        22
 2     2019-01-01 00:30:00  0.350698        22
 3     2019-01-01 00:45:00  0.404909        22
 4     2019-01-01 01:00:00  0.176089        22
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  0.188374        22
 35132 2020-01-01 23:00:00  0.184311        22
 35133 2020-01-01 23:15:00  0.209378        22
 35134 2020-01-01 23:30:00  0.173396        22
 35135 2020-01-01 23:45:00  0.191346        22

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  2.810089        23
 1     2019-01-01 00:15:00  2.869169        23
 2     2019-01-01 00:30:00  2.922594        23
 3     2019-01-01 00:45:00  2.785386        23
 4     2019-01-01 01:00:00  2.858603        23
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  2.715443        23
 35132 2020-01-01 23:00:00  2.584336        23
 35133 2020-01-01 23:15:00  2.652642        23
 35134 2020-01-01 23:30:00  1.749330        23
 35135 2020-01-01 23:45:00  1.421191        23

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  1.201688        24
 1     2019-01-01 00:15:00  1.201688        24
 2     2019-01-01 00:30:00  1.264276        24
 3     2019-01-01 00:45:00  1.264276        24
 4     2019-01-01 01:00:00  2.240647        24
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  0.575809        24
 35132 2020-01-01 23:00:00  0.225316        24
 35133 2020-01-01 23:15:00  0.225316        24
 35134 2020-01-01 23:30:00  0.237834        24
 35135 2020-01-01 23:45:00  0.237834        24

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  1.759957        25
 1     2019-01-01 00:15:00  1.796959        25
 2     2019-01-01 00:30:00  1.830419        25
 3     2019-01-01 00:45:00  1.744485        25
 4     2019-01-01 01:00:00  1.790341        25
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  1.700680        25
 35132 2020-01-01 23:00:00  1.618568        25
 35133 2020-01-01 23:15:00  1.661348        25
 35134 2020-01-01 23:30:00  1.095604        25
 35135 2020-01-01 23:45:00  0.890091        25

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  2.025325        26
 1     2019-01-01 00:15:00  2.067906        26
 2     2019-01-01 00:30:00  2.106411        26
 3     2019-01-01 00:45:00  2.007520        26
 4     2019-01-01 01:00:00  2.060291        26
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  1.957110        26
 35132 2020-01-01 23:00:00  1.862617        26
 35133 2020-01-01 23:15:00  1.911848        26
 35134 2020-01-01 23:30:00  1.260800        26
 35135 2020-01-01 23:45:00  1.024300        26

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  0.637283        27
 1     2019-01-01 00:15:00  0.637283        27
 2     2019-01-01 00:30:00  0.670475        27
 3     2019-01-01 00:45:00  0.670475        27
 4     2019-01-01 01:00:00  1.188267        27
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  0.305365        27
 35132 2020-01-01 23:00:00  0.119491        27
 35133 2020-01-01 23:15:00  0.119491        27
 35134 2020-01-01 23:30:00  0.126129        27
 35135 2020-01-01 23:45:00  0.126129        27

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  0.437128        28
 1     2019-01-01 00:15:00  0.354530        28
 2     2019-01-01 00:30:00  0.703566        28
 3     2019-01-01 00:45:00  0.812323        28
 4     2019-01-01 01:00:00  0.353267        28
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  0.377914        28
 35132 2020-01-01 23:00:00  0.369763        28
 35133 2020-01-01 23:15:00  0.420051        28
 35134 2020-01-01 23:30:00  0.347865        28
 35135 2020-01-01 23:45:00  0.383876        28

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  0.524345        29
 1     2019-01-01 00:15:00  0.425267        29
 2     2019-01-01 00:30:00  0.843945        29
 3     2019-01-01 00:45:00  0.974402        29
 4     2019-01-01 01:00:00  0.423752        29
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  0.453317        29
 35132 2020-01-01 23:00:00  0.443540        29
 35133 2020-01-01 23:15:00  0.503862        29
 35134 2020-01-01 23:30:00  0.417273        29
 35135 2020-01-01 23:45:00  0.460469        29

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  3.130360        30
 1     2019-01-01 00:15:00  3.196173        30
 2     2019-01-01 00:30:00  3.255687        30
 3     2019-01-01 00:45:00  3.102841        30
 4     2019-01-01 01:00:00  3.184403        30
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  3.024926        30
 35132 2020-01-01 23:00:00  2.878877        30
 35133 2020-01-01 23:15:00  2.954968        30
 35134 2020-01-01 23:30:00  1.948704        30
 35135 2020-01-01 23:45:00  1.583167        30

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  0.363298        31
 1     2019-01-01 00:15:00  0.363298        31
 2     2019-01-01 00:30:00  0.382219        31
 3     2019-01-01 00:45:00  0.382219        31
 4     2019-01-01 01:00:00  0.677399        31
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  0.174080        31
 35132 2020-01-01 23:00:00  0.068118        31
 35133 2020-01-01 23:15:00  0.068118        31
 35134 2020-01-01 23:30:00  0.071903        31
 35135 2020-01-01 23:45:00  0.071903        31

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  0.664271        32
 1     2019-01-01 00:15:00  0.538753        32
 2     2019-01-01 00:30:00  1.069158        32
 3     2019-01-01 00:45:00  1.234428        32
 4     2019-01-01 01:00:00  0.536834        32
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  0.574288        32
 35132 2020-01-01 23:00:00  0.561902        32
 35133 2020-01-01 23:15:00  0.638321        32
 35134 2020-01-01 23:30:00  0.528626        32
 35135 2020-01-01 23:45:00  0.583348        32

 [35136 rows x 3 columns],
                      Time    Energy  Location
 0     2019-01-01 00:00:00  2.557168        33
 1     2019-01-01 00:15:00  2.610930        33
 2     2019-01-01 00:30:00  2.659547        33
 3     2019-01-01 00:45:00  2.534688        33
 4     2019-01-01 01:00:00  2.601315        33
 ...                   ...       ...       ...
 35131 2020-01-01 22:45:00  2.471040        33
 35132 2020-01-01 23:00:00  2.351733        33
 35133 2020-01-01 23:15:00  2.413892        33

In [34]:
df_location = house_list[0]
for i in house_list[1:]:
    df_location = pd.concat([df_location, i], axis=0)
df_location.reset_index(drop=True)

                       Time    Energy  Location
0       2019-01-01 00:00:00  2.964000         0
1       2019-01-01 00:15:00  2.584000         0
2       2019-01-01 00:30:00  3.071000         0
3       2019-01-01 00:45:00  2.694000         0
4       2019-01-01 01:00:00  2.569000         0
...                     ...       ...       ...
1791931 2020-01-01 22:45:00  0.753222        50
1791932 2020-01-01 23:00:00  0.716855        50
1791933 2020-01-01 23:15:00  0.735802        50
1791934 2020-01-01 23:30:00  0.485237        50
1791935 2020-01-01 23:45:00  0.394216        50

[1791936 rows x 3 columns]

In [36]:
df_location.to_pickle("df_location.pkl")