In [1]:
import warnings
warnings.filterwarnings('ignore',category=FutureWarning)
warnings.filterwarnings('ignore',category=DeprecationWarning)
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [33]:
df = pd.read_csv("../meteo_viseu_pinhao_aveiro/dados_bdi_06.txt")
df

         ANO MS DI HR MN 01200560 01210657 01210702
0       2020 10 01 00 00     11.1     13.2     16.8
1       2020 10 01 00 10     11.1     13.2     16.7
2       2020 10 01 00 20     10.9     13.2     16.6
3       2020 10 01 00 30     11.3     13.3     16.5
4       2020 10 01 00 40     11.5     13.4     16.4
...                                             ...
131323  2023 03 31 23 10   -990.0   -990.0   -990.0
131324  2023 03 31 23 20   -990.0   -990.0   -990.0
131325  2023 03 31 23 30   -990.0   -990.0   -990.0
131326  2023 03 31 23 40   -990.0   -990.0   -990.0
131327  2023 03 31 23 50   -990.0   -990.0   -990.0

[131328 rows x 1 columns]